/* importo los estilos de tailwind (aprendiendo a usar) */

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1 {
        @apply text-xl mb-2 mt-4 text-blue-600 ;
      }
    h2 {
        @apply text-gray-600 text-xl mb-2 mt-4;
      }
    label{
        @apply text-gray-700 text-sm;
    }
    table.basic{
        @apply mt-5 w-full bg-white shadow-md rounded;
    }
    table.basic thead
    {
        @apply  text-sm text-gray-600 uppercase border px-2 py-1;
    }
    table.basic tr,td
    {
        @apply  text-gray-900 px-2 py-1;
    }

    table.basic a{
        @apply flex inline-flex mx-1 items-center gap-1 text-sm py-1;
    }

    .btn-primary{
        @apply border bg-blue-600 text-white px-3 py-1 ms-1 rounded shadow-sm hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-400 ;
    }

    .btn-red{
        @apply border bg-red-300 text-red-600 px-3 py-1 ms-1 rounded shadow-sm hover:bg-red-200 focus:outline-none focus:ring focus:ring-red-100 ;
    }
    .btn-default{
        @apply border bg-white text-gray-800 px-3 py-1 ms-1 rounded-sm border border-gray-200 hover:bg-gray-300 hover:text-white focus:outline-none focus:ring focus:ring-gray-400;
    }
    .btn-addProp{
        @apply border bg-gray-300 text-gray-800 px-3 rounded-sm border border-gray-200 hover:bg-gray-200 focus:outline-none focus:ring focus:ring-gray-400;
    }
    .btn-google{
        background-color: #4285F4;
        color: white;
    }
    .board-grid {
        @apply grid  grid-cols-1 md:grid-cols-3 gap-4;
    }
    .board-card{
        @apply bg-white shadow-md p-4 text-blue-800 text-center;
    }
    .board-title{
        @apply uppercase text-gray-500 font-bold text-xs text-center;
    }
    .board-number{
        @apply text-4xl text-center  font-bold my-1;
    }
    .board-desc{
        @apply text-xs text-gray-400;
    }

  }


img{
    max-height: 100%;
}

.swym-delete-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(180, 44, 44, 0.636);
    color: white;
    font-size: 12px;
    font-weight: 500;
    width: 1.3px;
    height: 1.5em;
    min-width: 1.3em;
    right: -10px;
    bottom: -60px;
    z-index: 0;
    cursor: pointer;
  }